[user]
  name = Federico Knüssel
  email = fknussel@gmail.com
[push]
  default = current
[alias]
  co = checkout
  br = branch
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(green)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
  wc = !git whatchanged
  wcp = !git whatchanged -p
  d = diff
  dc = diff --cached
  lol = log --graph --decorate --pretty --oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  delete-merged-branches = "!f() { git checkout --quiet develop && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
  logtree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
  excludesfile = /Users/fknussel/.gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -x4
  autocrlf = false
  eol = lf
  longpaths = true
[color]
  ui = true
[credential]
  # Windows
  # helper = wincred
  # Mac
  helper = cache --timeout=86400
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[branch "develop"]
  rebase = true
[branch "master"]
  rebase = true
[diff]
  submodule = log
[merge]
  conflictstyle = diff3
[remote "origin"]
  prune = true
  tagOpt = --tags
[rebase]
  autosquash = true
  autoStash = true
[pull]
  rebase = true
[tag]
  sort = version:refname
[versionsort]
  suffix = -rc
[commit]
  template = /Users/fknussel/.stCommitMsg
[branch "V2-develop"]
  rebase = true
[github]
  user = fknussel
